@import "~bootstrap/scss/bootstrap.scss";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}
.App {
    height: 100%;
}
.homepageTitleWrapper{
    height: 180px;
    padding-top: 20px;
}

.homepageTitle{
    text-align: center;
}

.usersTableContentWrapper {
    width: 100%;
    overflow-x: auto;
}
.usersTableWrapper {
    padding: 0 15%;
    @media only screen and (max-width: 1440px) {
        padding: 0 10%;
    }
    @media only screen and (max-width: 1260px) {
        padding: 0 5%;
    }
}
.usersTable {
    min-width: 1000px;
}

.userTableRowDelete {
    margin-left: 3px;
}

.error-message-wrapper {
    display: flex;
    height: 15px;
    .error-message {
        color: red;
        font-size: 11px;
    }
}
.input-field {
    &.invalid {
        border: 1px solid red;
    }
}


.user-form-wrapper {
    padding: 0 30px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;

    .user-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .user-form-inputs-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
            
            .user-form-first-column {
                width: 45%;
                min-width: 250px;
            }
            
            .user-form-second-column {
                width: 45%;
                min-width: 250px;
                margin-left: 20px;
            }
            @media only screen and (max-width: 650px) {
                justify-content: center;
                .user-form-first-column {
                    width: 100%;
                }
                .user-form-second-column {
                    width: 100%;
                    margin-left: 0;
                }
            }
        }

        button {
            width: 100%;
            max-width: 150px;
            margin-top: 25px;
        }
    }
}