@import "~bootstrap/scss/bootstrap.scss";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}
.App {
    height: 100%;
}
.homepageTitleWrapper{
    height: 180px;
    padding-top: 20px;
}

.homepageTitle{
    text-align: center;
}

.usersTableContentWrapper {
    width: 100%;
    overflow-x: auto;
}
.usersTableWrapper {
    padding: 0 15%;
    @media only screen and (max-width: 1440px) {
        padding: 0 10%;
    }
    @media only screen and (max-width: 1260px) {
        padding: 0 5%;
    }
}
.usersTable {
    min-width: 1000px;
}

.userTableRowDelete {
    margin-left: 3px;
}